version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: downloader_db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: downloader
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: